<%- include("./partials/header.ejs") %>




<form  class="reg-log" action="/logpost" method="post">

    <div class="inner-reg">
<input type="email" name="username"  placeholder="email" required>
<input type="password" name="psw" placeholder="password" required>
<button type="submit">Login</button>
</div>  
</form>

