<%- include("./partials/header.ejs") %>



<form  class="reg-log" action="/regpost" method="post">

 <div class="inner-reg">
<input type="email" name="remail"  placeholder="email" required>
<input type="password" name="rpsw" placeholder="password" required>
<button type="submit">register</button>
</div>  
</form>

